<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome home, <i>sire</i> <i class="fas fa-award"></i>
      </h1>
    </div>
  </div>
</section>