<aside class="menu box">

        <ul class="menu-list">

            <p class="menu-label"> Create  <i class="far fa-plus-square"></i></p>
            <ul><a href="/new_blogpost">Blog post</a></ul>
            <ul><a href="/new_gallery">Gallery entry</a></ul>

            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item"></a>
        </ul>
</aside>