<section class="hero is-info is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                <i class="fas fa-mail-bulk"></i> About <i class="fas fa-award"></i>
            </p>
        </div>
    </div>
</section>


  <section class="section has-bg-img">
    <div class="container has-text-centered">
       <div class="notification">
           <div class="content">
               <div class="tile is-ancestor">
                   <div class="tile is-vertical is-8">
                       <div class="tile">
                           <div class="tile is-parent is-vertical">
                               <article class="tile is-child notification is-info">
                                   <p class="title">Phone:</p>
                                   <p class="subtitle">0760-245040</p>
                               </article>
                               <article class="tile is-child notification is-info">
                                   <p class="title">E-mail:</p>
                                   <p class="subtitle">lordjoakimbrandt@gmail.com</p>
                               </article>
                           </div>
                           <div class="tile is-parent">
                               <article class="tile is-child notification is-info">
                                   <figure class="image is 128x128">
                                       <img class="rounded" src="/joakim.jpg">
                                   </figure>
                               </article>
                           </div>
                       </div>
                       <div class="tile is-parent">
                           <article class="tile is-child notification is-info">
                               <p class="title">Location:</p>
                               <p class="subtitle">In the beautiful city known as <i>Huskvarna</i></p>
                           </article>
                       </div>
                   </div>

                   <div class="tile is-parent">
                       <article class="tile is-child notification is-info">
                           <div class="content">

                               <p class="title">About me:</p>
                               <p class="subtitle">My name is Joakim. <u>Lord</u> Joakim, if I may.
                               <div class="content">
                               <p>I'm a 24-year old engineering student with very long legs.
                                   I live in Huskvarna with my cat, Lady Minerva Snuggelpuff, who's a 2-year old
                                   black house cat.</p>
                           </div>
                       </article>
                   </div>

               </div>
           </div>
       </div>
  </div>
</section>
