<section class="hero is-info is-small ">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                <i class="fas fa-exclamation-triangle"></i> Error <i class="fas fa-exclamation-triangle"></i>
            </p>
        </div>
    </div>
</section>

<section class="section has-bg-img">
    <div class="container has-text-centered">
        <div class="notification">
            <h1>Error message:  <strong>404</strong> resource not find</h1>
        </div>
    </div>
</section>
